*.mat
*.pyc
*.nc
*.hdf5

.ipynb_checkpoints/

code/gasmodel/Results/conc_out.csv

code/gasmodel/Results/ESS524_fig1.eps

code/gasmodel/Results/ESS524_fig2.eps


firnmodel/CFM_main/input2-1
firnmodel/CFM_main/setup*
firnmodel/experiment*
firnmodel/CFM_main/autoRunInput/*

Clim.csv
Dcon.csv
age.csv
ageSpin.csv
density.csv
densitySpin.csv
depth.csv
depthSpin.csv
r2.csv
r2Spin.csv
temp.csv
tempSpin.csv


*.log
*.avi
*.mov
*.png
*.eps
*.tif
*.tiff
*.epsc
*.tar
*.DS_store
*.DS_Store
*.hdf5

.spyproject/


# Created by https://www.gitignore.io/api/microsoftoffice

### MicrosoftOffice ###
*.tmp

# Word temporary
~$*.doc*

# Excel temporary
~$*.xls*

# Excel Backup File
*.xlk

# PowerPoint temporary
~$*.ppt*

# Visio autosave temporary files
*.~vsd*


# End of https://www.gitignore.io/api/microsoftoffice
